<title>Word</title>
<meta content="Word" property="og:title" />
<meta
    content="A simple wordle with 3-7 letter words in 3-9 tries! Has many advanced features such as light/dark mode and custom words."
    property="og:description" />
<meta name="description"
    content="A simple wordle with 3-7 letter words in 3-9 tries! Has many advanced features such as light/dark mode and custom words." />
<meta name="keywords" content="wordle, wordle unlimited, custom wordle, word game, daily wordle" />
<meta content="#AFE1AF" data-react-helmet="true" name="theme-color" />

<meta http-equiv="refresh" content="0; url=https://steel101.github.io/Wordwebgame/public/index.html" />
